@charset "UTF-8";

:root {
    /*Paleta de Sombras do Branco*/
    --branco01: #FFFFFF;
    --branco02: #F6F6F6;
    --branco03: #D4D4D4;
    --branco04: #B3B3B3;
    --branco05: #919191;
    --branco06: #6F6F6F;

    /*Paleta de Sombras do Preto*/
    --preto01: #000000;
    --preto02: #3C3C3C;
    --preto03: #5E5E5E;
    --preto04: #808080;
    --preto05: #A2A2A2;
    --preto06: #C3C3C3;
}

* {
    margin: 0px;
    padding: 0px;
}

html {
    background-color: var(--preto01);
}

body {
    display: none;
}

@media (min-width:320px)  {
    body {
        display: block;
        height: 100vh;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    
    main {
        cursor: default;
        height: 100%;
        display: flex;
        flex-flow: row;
        justify-content: center;
        align-items: center;
        background-color: var(--preto04);
    }
    
    .mostradorContagem {
        background-color: var(--preto01);
        border-radius: 20px;
        padding: 15px;
        box-shadow: 0px 5px 5px 3px rgba(0, 0, 0, 0.479);
        
        &>h1 {
            border-radius: 15px;
            padding: 10px;
            font-size: 3.3em;
            background-color: var(--preto05);
            color: var(--preto02);
        }
    }
    
    .botõesContagem {
        display: flex;
        justify-content: space-around;
        
    }
    
    .btn {
        cursor: pointer;
        background-color: var(--preto02);
        color: var(--preto06);
        padding: 10px;
        margin-top: 20px;
        margin-bottom: 10px;
        border-radius: 15px;
        
        &>h1 {
            font-size: 1.3em;
        }

        &:hover {
            color: var(--preto01);
            background-color: var(--preto05);
        }
    }
}

@media (min-width:480px)  {
    .mostradorContagem > h1 {
        font-size: 5em;
    }

    .btn > h1 {
        font-size: 2em;
    }
}

@media (min-width:801px)  {
    
    .mostradorContagem > h1 {
        font-size: 6.5em;
    }

    .btn > h1 {
        font-size: 2.5em;
    }
}